{% extends 'base.html.twig' %}

{% block title %}
    Résultats de la Recherche pour "{{ query }}"
{% endblock %}

{% block content %}
    <h1>Résultats de la Recherche pour "{{ query }}"</h1>

    <ul>
        {% for product in products %}
            <li>
                <strong>{{ product.name }}</strong> - {{ product.price }} €
                <a href="/awa-exotique/products/show?id={{ product.id }}">Voir</a>
            </li>
        {% else %}
            <li>Aucun produit correspondant trouvé.</li>
        {% endfor %}
    </ul>

    <a href="/awa-exotique/products">Retour à la liste des produits</a>
{% endblock %}
