{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
    <h1>Résultats de la recherche pour "{{ query }}"</h1>
    
    <ul>
        {% for product in products %}
            <li>
                <a href="/products/{{ product.id }}">{{ product.name }}</a> - {{ product.price }}€
            </li>
        {% else %}
            <p>Aucun produit trouvé pour "{{ query }}".</p>
        {% endfor %}
    </ul>
    
    <a href="/products">Retour à la liste des produits</a>
{% endblock %}
