{% extends 'base.html.twig' %}

{% block title %}
    Détails du Produit
{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>

    <p><strong>Prix :</strong> {{ product.price }} €</p>
    <p><strong>Catégorie :</strong> {{ product.category_id }}</p>
    <p><strong>Image :</strong> <img src="{{ product.picture }}" alt="{{ product.name }}"></p>

    <a href="/awa-exotique/products">Retour à la liste des produits</a>
{% endblock %}
