{% extends 'base.html.twig' %}

{% block content %}
<h1>Liste des statuts de commande</h1>
<table>
    <tr>
        <th>ID</th>
        <th>ID Commande</th>
        <th>Statut</th>
        <th>Date de mise à jour</th>
        <th>Actions</th>
    </tr>
    {% for status in statuses %}
    <tr>
        <td>{{ status.id }}</td>
        <td>{{ status.orderId }}</td>
        <td>{{ status.status }}</td>
        <td>{{ status.updatedAt }}</td>
        <td>
            <!-- Lien pour la modification -->
            <a href="/orderstatus/update/{{ status.orderId }}">Modifier</a>
            
            <!-- Formulaire de suppression -->
            <form action="/orderstatus/delete/{{ order.id }}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette commande ?')">Supprimer</button>
            </form>

        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5">Aucun statut de commande disponible.</td>
    </tr>
    {% endfor %}
</table>
<!-- Lien pour ajouter un nouveau statut -->
<a href="/orderstatus/create">Ajouter un nouveau statut</a>
{% endblock %}
